<div class="jumbotron">

  <h1>Weight Tracker</h1>

<div class="Row">

  <div class="Column">
  <a href = "/index/new/">New entry</a>
  </div>

  <div class="Column">
      <% if (currentUser) {  %>
      Welcome <%= currentUser.username %>!
      <% } else { %>
          how did you get here? 
          <a href="/sessions/login">Login</a>
      <% } %>
  </div>

  <div class="Column">
      <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Log Out" class="btn-small red" />
      </form>
  </div>

</div>

</div>