<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/index/<%= weightData.id %>?_method=PUT" method="POST">
    date: <input type="text" name="date" value="<%= weightData.date %>">
    weight: <input type="number" name="weight" value="<%= weightData.weight %>">
    comment: <input type="text" name="comment" value="<%= weightData.comment %>">
    </form>
</body>
</html>