<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    New page
    <form action="/index" method="POST">
    date<input type="text" name="date">
    weight<input type="number" name="weight">
    comments<input type="text" name="comment">
    <input type="submit" name="Add to database">
    </form>
</body>
</html>