body {
  background-color: gray;
}
.centered {
  text-align: center;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.Row {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.Column {
  display: table-cell;
}
.marginLeft {
  margin-left: 50%;
}
.bulletless {
  list-style-type: none;
}

ul .index li {
  display: inline-block;
  margin: 2.5%;
  text-align: center;
  border-radius: 5px;
  background-color: lightgrey;
}

ul .index li:hover {
  opacity: 0.8;
  background-color: darkgray;
}
