body {
  background-color: gray;
}
.centered {
  text-align: center;
}
.right {
  text-align: right;
}

.Row {
  display: table;
  width: 100%; /*Optional*/
  table-layout: fixed; /*Optional*/
}
.Column {
  display: table-cell;
}
