<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weight tracker new user</title>
    <header><%- include ('../partials/header.ejs') %></header>
</head>
<body>
    <h1 class="jumbotron">Create new user</h1>
    <div class="centered">
    <form action="/users" method="POST" enctype="application/json">

       <p> username: <input type="text" name="username" required/> </p>
        

       <p> password: <input type="password" name="password" /> </p>
        <br>
        <input type="submit" value="Create">
      <form>
    </div>
</body>
</html>