<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>New User</h1>
    <div class= "container">
    <form action="/users" method="POST" enctype="application/json">

        username<input type="text" name="username" required/>
        

        password<input type="password" name="password" />
        <br>
        <input type="submit" value="Submit">
      <form>
    </div>
</body>
</html>